@model AppSugestionMVC.Application.ViewModels.Application.ApplicationListVm

@{
    ViewData["Title"] = "Index";
}

<div id="PlaceHolderHere"></div>

<h1>Applications</h1>

<p>
    <button class="btn btn-success" data-toggle="ajax-modal" data-target="#addApplication" data-url="@Url.Action("AddApplication")">Create</button>
    <a class="btn btn-primary" asp-controller="Application" asp-action="Index">Applications</a>
    <a class="btn btn-secondary" asp-controller="ApplicationType" asp-action="Index">Types</a>
</p>

<partial name="_ListOfApplicationsPartial" />

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            document.getElementById("pageNumber").value = index;
            document.forms[0].submit();
        }
    </script>
}